.bgimg{
  background: url(./resources/img/BG_IMAGE.png) no-repeat fixed center;
}
.navbg{
  background-color: #4E7C71;
}
.navlinkbg{
  background-color: #FFE7D6;
}
.greenc{
  color:#477971;
}
.fullh{
  height: 100%;
}
.guidelink{
  width: 250px;
  background-color: rgb(151, 206, 193, 0.5);
  /* opacity: 0.5; */
  text-decoration: none;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}